@charset "UTF-8";
body {
background-color: #BBFFFF;
} 
h1 {
color: #800000;
}
p{
font-size: 20px;
}
h2 {
color: #FF4500;
}
h3 {
color: #7B3CFF;
}
h4 {
color: #FF0000;
}
h5 {
color: 	#FF33FF;
}